@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Rancho&family=Water+Brush&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: 'Poppins', sans-serif;
}


/* custom scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    /* background: #d1e6ff; */
    background: rgb(3, 3, 3);
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background: linear-gradient(#642bff, #ff22e6);
    border-radius: 10px;
}